<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foedex</title>
    <link rel="stylesheet" href="/app/app.css?v={{ app_css_version }}">
</head>
<body>
    <div id="root"></div>
    <script type="module" src="/app/app.js?v={{ app_js_version }}"></script>
</body>
</html>
